body {
    
    background-color: blanchedalmond;
    display: flex;
}

.triangles1 {
    display: flex;
    flex-direction: column;
    margin-left: 1vmax;
    margin-top: 1vmax;
    gap: 0vmax;
}

.triangles2 {
    display: flex;
    flex-direction: column;
    margin-left: 0.3vmax;
    margin-top: 1vmax;
    gap: 0vmax;
}

.name {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    margin-top: 4vmax;
    font-family: 'Varela Round';
    border: 0.25vmax solid rgb(255, 119, 119);
    border-radius: 0.5vmax;
    padding: 0.25vmax;
    height: fit-content;
}

.name .first {
    font-size: 3.6vmax;
}

.name .last {
    font-size: 3.6vmax;
    margin-left: auto;
}

.links {
    display: flex;
    flex-direction: column;
    font-size: 3.6vmax;
    margin: 5vmax;
    margin-top: auto;
    margin-bottom: auto;
    gap: 2vmax;
}

a {
    display: flex;
    text-decoration: none;
    font-family: 'Courier New';
    color: black;
    background-color: rgb(255, 132, 132);
    padding: 1vmax;
    justify-content: center;
}